.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(181, 194, 161);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custom styles  */
.main {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto auto;
  left: 30%;
  background-color: black;
}

input {
  height: 50px;
  margin: 20px;
}

button {
  height: 50px;
  margin: 20px;
}

body {
  background-color: rgb(71, 89, 94);
}